:root {
    --primary: #faf9f9;
    --secondary: #9caea9;
    --dark: #282525;  
    --light: rgb(0, 123, 255);
    
}


body {
background-color: var(--primary);
}





h1 {
    text-align: center;
    color: var(--primary);
    font-weight: 700;
    margin: 0;
    line-height: 1.25;
    font-family: "IBM Plex Sans", sans-serif;
    padding: 0 10px;
    background-color: var(--dark);
    margin: 10px; 
}

h2 {
    font-weight:large;
    margin: 10px;
    margin-left: 15px;
}

h3 {
    color: var(--light);
    font-weight: bolder;
    font-family: fantasy;
    background-color: lawngreen;
}

 #save-city {
    color:white;
    background-color: rgb(19, 68, 231);
    margin: 10px;
    display: inline-block;
 }

 button, .city-item:hover {
    margin: 1px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
 }


 



.btn-search {
height: 30px;
background-color: rgb(19, 68, 231);
color:white;
border-radius: 8px;

}

.city-item {
    font-size: x-large;
    display: block;
    border: none;
	padding: 1.1em 6.5em;
	background: rgba(242, 236, 236, 0.482)c6;
	color: black;
	font-family: 'TitilliumText22LRegular', Arial, sans-serif;
	font-size: 1.1em;
    border-radius: 0px;
    width: 300px;
    white-space: nowrap;
    
}

.col {
    background-color:rgb(19, 68, 231);
    margin: 5px;
}

#currentWeather {
    background-color: rgba(242, 236, 236, 0.482);
}


.uv-low {
background-color: green;
color:white;
display: inline;
}

.uv-med {
background-color: yellow;
color:white; 
display: inline;
}

.uv-high {
background-color: red;
color:white; 
display: inline;  
}